.header {
    position: fixed;
    width: 100%;
    background: $colorPrimary;
    display: flex;
    justify-content: space-between;
    z-index: 500;
    .logo {
        max-width: calc(100% - 50px);
        img {
            max-width: 100%;
            display: block;
        }
    }
    .menu-icon {
        color: #FFF;
        align-self: center;
        font-size: 2em;
        margin-right: 0.5em;
        cursor: pointer;
    }
}