.grid {
  position: relative;
}

.item {
  display: block;
  position: absolute;
  z-index: 1;
  background: #000;
  color: #fff;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid .item {
  width: calc(50% - 10px);
  border-radius: 1em;
  margin: 5px;
  -webkit-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
}

.grid .item[data-linea="slim"] .nombre-modelo {
  background: #7e000d;
}

.grid .item[data-linea="lux"] .nombre-modelo {
  background: gold;
  color: black;
}

.grid .item[data-linea="basic"] .nombre-modelo {
  background: gray;
}

.grid .item .item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1em;
  overflow: hidden;
}

.grid .item .item-content .nombre-modelo {
  position: absolute;
  padding: .25em .5em;
  border-radius: 1em 0em / 1em 1em;
  font-weight: bold;
  top: 0;
  left: 0;
}

.grid .item .item-content .color {
  position: absolute;
  top: 0;
  right: 0;
}

.grid .item .item-content img {
  width: 100%;
  display: block;
}

.grid .item .item-content .panoramica.no-mostrar {
  display: none;
}

.grid .item .item-content .panoramica.alargar {
  width: 100%;
}

.grid .item .item-content .agradecimiento, .grid .item .item-content .diploma, .grid .item .item-content .testimonial, .grid .item .item-content .individual {
  width: 50%;
  display: block;
}

.grid .item .item-content .agradecimiento.no-mostrar, .grid .item .item-content .diploma.no-mostrar, .grid .item .item-content .testimonial.no-mostrar, .grid .item .item-content .individual.no-mostrar {
  display: none;
}

.grid .item .item-content .agradecimiento.alargar, .grid .item .item-content .diploma.alargar, .grid .item .item-content .testimonial.alargar, .grid .item .item-content .individual.alargar {
  width: 100%;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
  font-family: "Sans";
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
}

.overlay #cerrar {
  color: white;
  position: fixed;
  font-size: 2rem;
  margin: 1rem;
  top: 0;
  right: 0;
  cursor: pointer;
}

.overlay .button {
  position: fixed;
  font-size: 1.5rem;
  margin: 1rem;
  bottom: 0;
  right: 0;
  cursor: pointer;
  display: inline-block;
  background-color: #075e54;
  font-family: 'Neucha', cursive;
  -webkit-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
}

.overlay .button:link {
  padding: 0.5em 1em;
  border-radius: 2em;
  text-decoration: none;
  color: white;
}

.overlay .button:visited {
  padding: 0.5em 1em;
  border-radius: 2em;
  text-decoration: none;
  color: white;
}

.overlay .aviso {
  color: white;
  font-weight: bold;
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1em;
  max-width: 60%;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000, 2px 2px #000, -2px -2px #000, 2px -2px #000, -2px 2px #000;
}

.overlay .card {
  min-width: 200px;
  width: 800px;
  max-width: calc(100% - 1em);
  max-height: calc(100vh - 8em);
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  padding: 0.5em;
  margin: 0.5em;
  margin-bottom: 2em;
  border-radius: 1em;
  overflow: auto;
}

.overlay .card img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.overlay .card .color {
  display: none;
}

.overlay .card .nombre-modelo {
  position: fixed;
  top: 0;
  left: 0;
  background: #7e000d;
  font-weight: bold;
  padding: .25em 1em;
  color: white;
  border-radius: 0 0 1em 0;
}

.overlay .card .nombre-modelo::before {
  content: "Modelo: ";
}

.overlay .card .panoramica, .overlay .card .agradecimiento, .overlay .card .diploma, .overlay .card .individual, .overlay .card .testimonial {
  border: 2px solid #7e000d;
  border-radius: 1em 1em 0 0;
  overflow: hidden;
  margin-bottom: 1em;
}

.overlay .card .panoramica::before, .overlay .card .agradecimiento::before, .overlay .card .diploma::before, .overlay .card .individual::before, .overlay .card .testimonial::before {
  display: block;
  width: 100%;
  background: #7e000d;
  color: white;
  text-align: center;
}

.overlay .card .panoramica::before {
  content: "Panoramica";
}

.overlay .card .agradecimiento::before {
  content: "Agradecimiento";
}

.overlay .card .diploma::before {
  content: "Diploma";
}

.overlay .card .individual::before {
  content: "Individual";
}

.overlay .card .testimonial::before {
  content: "Testimonial";
}

.ocultar {
  display: none;
}

.header {
  position: fixed;
  width: 100%;
  background: #7e000d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 500;
}

.header .logo {
  max-width: calc(100% - 50px);
}

.header .logo img {
  max-width: 100%;
  display: block;
}

.header .menu-icon {
  color: #FFF;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2em;
  margin-right: 0.5em;
  cursor: pointer;
}

.main {
  padding-top: 70px;
  max-width: 800px;
  margin: auto;
}

.main nav .linea, .main nav .tipo-cuadro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
  text-transform: capitalize;
}

.main nav .linea a, .main nav .tipo-cuadro a {
  padding: 0.5em;
  border-radius: 1em;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.main nav .linea a:hover, .main nav .tipo-cuadro a:hover {
  background: #aaa;
}

.main nav .linea a:link, .main nav .linea a:visited, .main nav .tipo-cuadro a:link, .main nav .tipo-cuadro a:visited {
  text-decoration: none;
  color: black;
}

.main nav .linea a.activo, .main nav .tipo-cuadro a.activo {
  font-weight: bold;
  background: #7e000d;
  color: white;
}

.menu-desplegable {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 10000;
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
  overflow: hidden;
}

.menu-desplegable.ocultar {
  height: 0px;
}

.menu-desplegable.visible {
  height: 100vh;
}

.menu-desplegable h1 {
  margin-top: 0;
  color: white;
}

.menu-desplegable #cerrar {
  color: white;
  float: right;
}

.menu-desplegable .menu {
  width: 100%;
  background: #7e000d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
}

.menu-desplegable .menu a {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.25em 0.5em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.menu-desplegable .menu a:last-child {
  border-bottom: none;
}

.menu-desplegable .menu a:link, .menu-desplegable .menu a:visited {
  text-decoration: none;
  color: #cecb46;
}

.boton-filtro {
  font-size: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  bottom: 1em;
  right: 1em;
  width: 60px;
  height: 60px;
  background: #7e000d;
  border-radius: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 500;
  color: white;
  -webkit-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
}

.boton-filtro:hover {
  width: 62px;
  height: 62px;
}

.filtros {
  width: 90%;
  max-width: 500px;
  position: fixed;
  z-index: 500;
  background: #cecb46;
  margin: 1em;
  bottom: calc(60px + 1em);
  right: 0;
  border-radius: 1em;
  -webkit-box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
  -webkit-transition: all ease 300ms;
  transition: all ease 300ms;
}

.filtros.ocultar {
  display: block;
  right: -2em;
  bottom: -2em;
  margin: 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
  opacity: 0;
}
/*# sourceMappingURL=styles.css.map */